.total {
  text-align: center;
  font-size: 50px;
  font-weight: bolder;
  text-decoration: underline;
}

.display-button {
  margin-bottom: 0 30px 10px;
  display: inline-block;
  color: dodgerblue;
  cursor: pointer;
  text-align: center;
  margin: 8px 16px;
  padding: 8px 16px;
  background: yellow;
}

.display-button:hover {
  background: green;
  color: white;
}

.details {
  display: inline-block;
}

.info {
  display: flex;
  flex: 1;
  border: solid 1px black;
}

.info > div {
  border-right: solid 1px black;

}

.info > div:nth-child(1),
.info > div:nth-child(2),
.info > div:nth-child(4) {
  display: flex;
  justify-content: center;
  width: 98px;
  line-height: 48px;
}

.info > div:nth-child(3) {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  text-align: center;
}
