* {
  box-sizing: content-box;
}

.total {
  font-size: 40px;
  font-weight: bolder;
  text-decoration: underline;
}

.display-button {
  margin-bottom: 0 30px 10px;
  display: inline-block;
  color: dodgerblue;
  text-align: center;
  margin: 12px 25px;
  padding: 12px 25px;
  background: yellow;
  cursor: pointer;
  border-radius: 15px;
}

.display-button:hover {
  background: green;
  color: white;
}

.details {
  display: inline-block;
}

.info {
  display: flex;
  border: solid 1px black;
}

.info > div {
  border-right: solid 1px black;
  display: flex;
  justify-content: center;
  width: 100px;
  text-align: center;
  flex-direction: column;
  flex: 1;


}

/* .info > div:nth-child(1),
.info > div:nth-child(2),
.info > div:nth-child(4) {
  display: flex;
  justify-content: center;
  width: 100px;

} */

/* .info > div:nth-child(3) {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  text-align: center;
} */
